.form {
  border: 1px solid black;

  height: 200px;
  margin: 20px;
  padding: 20px;
  position: relative;

  mat-form-field {
    margin-right: 10px;
  }

  button {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
}
